body {
  margin: auto;
  margin-top: 50px;
  background-color: black;
}

span {
  margin-top: 10px;
  display: block;
}

#container {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 3fr 1fr;
  width: 600px;
  height: 700px;
  background-color: blanchedalmond;

  margin: auto;
  border-radius: 20px;
}

#header {
  height: 30px;
  grid-row: 1;
  text-align: center;
}

#screen {
  font-size: x-large;
  margin: auto;
  padding: 20px;
  height: 60px;
  grid-row: 2;
  text-align: center;
  justify-content: center;
  width: 500px;
  border-radius: 0% 0% 50% 50%;
  border: 2px solid black;
  background-color: white;
  margin-bottom: 50px;
}

#seats1,
#seats2 {
  display: grid;
  justify-self: center;
  grid-row: 3, 4;
  width: 90%;
  height: 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 4px 4px;
  grid-template-areas:
    ". . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . ";

  margin-top: 0px;
  margin-bottom: 0;
}

button {
  height: 20px;
  width: 20px;
  margin: 0;
}
.chair {
  transition: all 0.2s ease-in-out;
}
.chair:hover {
  background-color: darkgrey;
  cursor: pointer;

  transform: scale(1.2);
}

footer {
  display: grid;
  grid-row: 5;
  height: 50px;
  background-color: black;
}

#total {
  color: white;
  align-self: center;
  justify-self: center;
}

#footBtn {
  background-color: antiquewhite;
  text-align: center;
  justify-self: center;
  margin: auto;
  width: 200px;
  height: 30px;
}
